USE [pos_system]
GO
/****** Object:  Table [dbo].[menu]    Script Date: 14/10/2568 9:12:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu](
	[menu_id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[category_id] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[created_at] [datetime] NULL,
	[allow_notes] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[menu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menu_categories]    Script Date: 14/10/2568 9:12:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu_categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menu_modifiers]    Script Date: 14/10/2568 9:12:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu_modifiers](
	[menu_id] [int] NOT NULL,
	[modifier_id] [int] NOT NULL,
	[additional_price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[menu_id] ASC,
	[modifier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[modifier_groups]    Script Date: 14/10/2568 9:12:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[modifier_groups](
	[modifier_group_id] [int] IDENTITY(1,1) NOT NULL,
	[group_name] [nvarchar](120) NOT NULL,
	[description] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[modifier_group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[modifiers]    Script Date: 14/10/2568 9:12:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[modifiers](
	[modifier_id] [int] IDENTITY(1,1) NOT NULL,
	[modifier_group_id] [int] NOT NULL,
	[modifier_name] [nvarchar](120) NOT NULL,
	[additional_price] [decimal](10, 2) NULL,
	[is_additional] [bit] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[modifier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[menu] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[menu] ADD  CONSTRAINT [DF_menu_allow_notes]  DEFAULT ((1)) FOR [allow_notes]
GO
ALTER TABLE [dbo].[menu_categories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[menu_modifiers] ADD  DEFAULT ((0)) FOR [additional_price]
GO
ALTER TABLE [dbo].[modifier_groups] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[modifiers] ADD  DEFAULT ((0)) FOR [additional_price]
GO
ALTER TABLE [dbo].[modifiers] ADD  DEFAULT ((0)) FOR [is_additional]
GO
ALTER TABLE [dbo].[modifiers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[menu_modifiers]  WITH CHECK ADD FOREIGN KEY([menu_id])
REFERENCES [dbo].[menu] ([menu_id])
GO
ALTER TABLE [dbo].[menu_modifiers]  WITH CHECK ADD FOREIGN KEY([modifier_id])
REFERENCES [dbo].[modifiers] ([modifier_id])
GO
