USE [pos_system]
GO
/****** Object:  Table [dbo].[best_seller]    Script Date: 10/11/2568 23:55:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[best_seller](
	[menu_id] [int] NOT NULL,
	[menu_name] [nvarchar](255) NOT NULL,
	[total_sales] [int] NULL,
	[last_updated] [datetime] NULL,
	[total_sales_amount] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[menu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[best_seller] ADD  DEFAULT ((0)) FOR [total_sales]
GO
ALTER TABLE [dbo].[best_seller] ADD  DEFAULT (getdate()) FOR [last_updated]
GO
ALTER TABLE [dbo].[best_seller] ADD  CONSTRAINT [DF_best_seller_total_sales_amount]  DEFAULT ((0)) FOR [total_sales_amount]
GO
