USE [pos_system]
GO
/****** Object:  Table [dbo].[menu_modifiers]    Script Date: 29/10/2568 18:07:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu_modifiers](
	[menu_id] [int] NOT NULL,
	[modifier_id] [int] NOT NULL,
	[additional_price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[menu_id] ASC,
	[modifier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[menu_modifiers] ADD  DEFAULT ((0)) FOR [additional_price]
GO
ALTER TABLE [dbo].[menu_modifiers]  WITH CHECK ADD FOREIGN KEY([menu_id])
REFERENCES [dbo].[menu] ([menu_id])
GO
ALTER TABLE [dbo].[menu_modifiers]  WITH CHECK ADD FOREIGN KEY([menu_id])
REFERENCES [dbo].[menu] ([menu_id])
GO
ALTER TABLE [dbo].[menu_modifiers]  WITH CHECK ADD FOREIGN KEY([menu_id])
REFERENCES [dbo].[menu] ([menu_id])
GO
ALTER TABLE [dbo].[menu_modifiers]  WITH CHECK ADD FOREIGN KEY([menu_id])
REFERENCES [dbo].[menu] ([menu_id])
GO
ALTER TABLE [dbo].[menu_modifiers]  WITH CHECK ADD FOREIGN KEY([menu_id])
REFERENCES [dbo].[menu] ([menu_id])
GO
ALTER TABLE [dbo].[menu_modifiers]  WITH CHECK ADD FOREIGN KEY([menu_id])
REFERENCES [dbo].[menu] ([menu_id])
GO
ALTER TABLE [dbo].[menu_modifiers]  WITH CHECK ADD FOREIGN KEY([menu_id])
REFERENCES [dbo].[menu] ([menu_id])
GO
ALTER TABLE [dbo].[menu_modifiers]  WITH CHECK ADD FOREIGN KEY([menu_id])
REFERENCES [dbo].[menu] ([menu_id])
GO
ALTER TABLE [dbo].[menu_modifiers]  WITH CHECK ADD FOREIGN KEY([menu_id])
REFERENCES [dbo].[menu] ([menu_id])
GO
ALTER TABLE [dbo].[menu_modifiers]  WITH CHECK ADD FOREIGN KEY([menu_id])
REFERENCES [dbo].[menu] ([menu_id])
GO
ALTER TABLE [dbo].[menu_modifiers]  WITH CHECK ADD FOREIGN KEY([menu_id])
REFERENCES [dbo].[menu] ([menu_id])
GO
ALTER TABLE [dbo].[menu_modifiers]  WITH CHECK ADD FOREIGN KEY([menu_id])
REFERENCES [dbo].[menu] ([menu_id])
GO
ALTER TABLE [dbo].[menu_modifiers]  WITH CHECK ADD FOREIGN KEY([modifier_id])
REFERENCES [dbo].[modifiers] ([modifier_id])
GO
ALTER TABLE [dbo].[menu_modifiers]  WITH CHECK ADD FOREIGN KEY([modifier_id])
REFERENCES [dbo].[modifiers] ([modifier_id])
GO
ALTER TABLE [dbo].[menu_modifiers]  WITH CHECK ADD FOREIGN KEY([modifier_id])
REFERENCES [dbo].[modifiers] ([modifier_id])
GO
ALTER TABLE [dbo].[menu_modifiers]  WITH CHECK ADD FOREIGN KEY([modifier_id])
REFERENCES [dbo].[modifiers] ([modifier_id])
GO
