USE [pos_system]
GO
/****** Object:  Table [dbo].[menu]    Script Date: 29/10/2568 17:32:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu](
	[menu_id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[category_id] [int] NOT NULL,
	[price] [float] NULL,
	[created_at] [datetime] NULL,
	[allow_notes] [bit] NOT NULL,
	[image] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[menu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[menu] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[menu] ADD  CONSTRAINT [DF_menu_allow_notes]  DEFAULT ((1)) FOR [allow_notes]
GO
