USE [pos_system]
GO
/****** Object:  Table [dbo].[modifiers]    Script Date: 14/10/2568 19:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[modifiers](
	[modifier_id] [int] IDENTITY(1,1) NOT NULL,
	[modifier_group_id] [int] NOT NULL,
	[modifier_name] [nvarchar](120) NOT NULL,
	[additional_price] [decimal](10, 2) NULL,
	[is_additional] [bit] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[modifier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[modifiers] ADD  DEFAULT ((0)) FOR [additional_price]
GO
ALTER TABLE [dbo].[modifiers] ADD  DEFAULT ((0)) FOR [is_additional]
GO
ALTER TABLE [dbo].[modifiers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
