USE [pos_system]
GO
/****** Object:  Table [dbo].[order_item]    Script Date: 11/11/2568 0:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_item](
	[order_item_id] [int] IDENTITY(1,1) NOT NULL,
	[additional_price] [int] NULL,
	[note_text] [nvarchar](255) NULL,
	[quantity] [int] NULL,
	[menu_id] [bigint] NULL,
	[order_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[order_item]  WITH CHECK ADD  CONSTRAINT [FKt4dc2r9nbvbujrljv3e23iibt] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[order_item] CHECK CONSTRAINT [FKt4dc2r9nbvbujrljv3e23iibt]
GO
