USE [pos_system]
GO
/****** Object:  Table [dbo].[order_item_modifiers]    Script Date: 14/10/2568 19:09:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_item_modifiers](
	[order_item_modifier_id] [int] IDENTITY(1,1) NOT NULL,
	[order_item_id] [int] NOT NULL,
	[modifier_id] [int] NOT NULL,
	[note_text] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_item_modifier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[order_item_modifiers]  WITH CHECK ADD FOREIGN KEY([modifier_id])
REFERENCES [dbo].[modifiers] ([modifier_id])
GO
ALTER TABLE [dbo].[order_item_modifiers]  WITH CHECK ADD FOREIGN KEY([order_item_id])
REFERENCES [dbo].[order_items] ([order_item_id])
GO
