USE [pos_system]
GO
/****** Object:  Table [dbo].[modifier_groups]    Script Date: 14/10/2568 19:08:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[modifier_groups](
	[modifier_group_id] [int] IDENTITY(1,1) NOT NULL,
	[group_name] [nvarchar](120) NOT NULL,
	[description] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[modifier_group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[modifier_groups] ADD  DEFAULT (getdate()) FOR [created_at]
GO
